html
{
  font-family: 'Calibri';
  background-color:darkslategrey;
}
.index
{
  width: auto;
  height: auto;
  background-color:#FFC700;
  border-style:solid;
  font-style:oblique;
  text-align:center;
  font-size:100px;
}

.cv
{
  width: 50%;
  height: auto;
  background-color: #39A0FF;
  border: solid black;
  border-style:double;
  font-style:oblique;
  text-align: center;
  font-size: 75px;
}

.cv:hover{
  background-color:black;
  color: white;
  border: solid red;
  border-style:double;
}

.pro
{
  margin-left:50%;
  width : auto;
  height: auto;
  background-color: #FF4539;
  border: solid black;
  border-style:double;
  font-style:oblique;
  text-align: center;
  font-size: 75px;
}

.pro:hover{
  background-color:black;
  color: white;
  border: solid red;
  border-style:double;
}

.ci
{
  margin-left:50%;
  width : auto;
  height: auto;
  background-color: #49FF39;
  border: solid black;
  border-style:double;
  font-style:oblique;
  text-align: center;
  font-size: 75px;
}

.ci:hover{
  background-color:black;
  color: white;
  border: solid red;
  border-style:double;
}

.fin
{
  width: auto;
  height: auto;
  background-color:black;
  border:solid white;
  color: white;
  font-style:oblique;
  text-align:center;
  font-size:75px;
}

a
{
  font-weight:normal ;
  color:inherit;
  text-decoration:none;
}

img {
  vertical-align:middle;
}